@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    text-decoration: none;
}

html {
    font-size: 12px;
}

body {
    font-family: "Rubik", sans-serif;
}

.payment {
    margin-top: 20px;
    font-size: 60px;
    font-weight: bold;
    min-height: 240px;
    text-align: center;
    background-color: antiquewhite;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 30px;
}

