.catalogue-body {
    position: relative;
    display: flex;
}

.category {
    position: relative;
    display: flex;
    color: black;
    min-width: 200px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
    background-color: antiquewhite;
    padding: 10px;
    text-align: left;
}

.category:hover {
    transform: scale(1.05);
}

.item-container {
    width: 80%;
    position: absolute;
    margin-left: 200px;
}

.prod-container {
    margin-bottom: 200px;
}

.price-container {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    margin-left: 500px;
    margin-top: 10px;
}

.range-slider {
    width: 400px;
    position: absolute;
    margin-left: 300px;
}

.slider-min {
    margin-top: 10px;
    position: absolute;
    left: 0;
}

.slider-max {
    margin-top: 10px;
    position: absolute;
    right: 0;
}

input[type=range] {
    width: 100%;
    background: transparent; 
    position: absolute;
    left: 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #36b37e;
    cursor: pointer;
    margin-top: -5px;
    position: relative;
    z-index: 1;
}
  
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #e8e8e8;
    border-radius: 3px;
    border: none;
}