.header {
    height: 100px;
    width: 100%;
    background-color: rgb(255, 216, 190);
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-home {
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.header-links {
    color: black;
    display: flex;
    gap: 20px;
    position: absolute;
    right: 160px;
}

.links:hover {
    transform: scale(1.1);
}

.contact {
    display:flex;
    margin-right: 20px;
    border-left: 0.1rem solid rgb(85, 61, 50);
    padding-left: 10px;
}

.links {
    color: black;
}

.search-bar-container {
    margin-left: 40px;
}


.search-bar {
    font-family: "Rubik", sans-serif;
    min-height: 20px;
    width: 300px;
    border-radius: 30px;
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.search-content {
    color: black;
}

.search-content-container {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
    display: block;
    position: absolute;
    background-color: #ffffff;
    padding-left: 2px;
    min-width: 280px;
    z-index: 1;
    font-family: "Rubik", sans-serif;
}