.input-bar {
    width: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    border-radius: 50px;
    border: 0px;
    padding: 5px;
}

.input-container {
    text-align: left;
    margin-top: 10px;
    font-size: 16px;
    width: 90%;
    margin-left: 5%;
    font-weight: bold;
}

.input-container-2 {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.input-container-3 {
    height: 32px;
    padding-left: 10px;
    padding-top: 7px;
    text-align: left;
    margin-top: 30px;
    margin-left: 5%;
    font-size: 16px;
    width: 90%;
    background-color: white;
    font-weight: bold;
    border-radius: 50px;
    border: 0px;
}

.user-data-container {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 30px;
    height: 520px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: antiquewhite;
}

.dropbtn2 {
    margin-right: 10px;
    margin-left: 10px;
    width: 240px;
    height: 30px;
    font-weight: bold;
    background-color: white;
    color: black;
    font-size: 16px;
    border: none;
    font-family: "Rubik", sans-serif;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    margin-right: 10px;
    margin-left: 10px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: "Rubik", sans-serif;
}

.dropdown-content2 div {
    color: black;
    font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content2 div:hover {
    background-color: #ffffff;
}

.dropdown-content2 a:hover {background-color: rgba(255, 227, 227, 0.9)eat;}

.dropdown2:hover .dropdown-content2 {display: block;}

.dropdown2:hover .dropbtn2 {background-color:rgba(245, 213, 201, 0.9);}

.product-total-container {
    margin-bottom: 180px;
}

.pay-button {
    margin-top: 20px;
    background-color: white;
    border: solid 1px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    font-family: "Rubik", sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}