.order-item-container {
    font-size: 16px;
    position: relative;
    margin: 10px;
    border-radius: 5px;
    background-color: antiquewhite;
    padding: 10px;
    display: flex;
}

.order-quantity {
    position: absolute;
    right: 0;
    margin-right: 10px;
}